body {
  background-color: rgb(5, 8, 15);
  display: flex;
  justify-content: center;
  align-items: center;
  }
h1 { 
  color: rgb(247, 247, 252);
  display: flex;
  justify-content: center;
  align-items: center;
  }
h3 {
  color: rgb(247, 247, 252);
  display: flex;
  justify-content: center;
  align-items: center;
  }
button {
  padding: 10px 20px;
  margin: 5px;
  background-color: blue;
  color: rgb(247, 247, 252);
  border: none;
  outline: none;
  border-radius: 5px;
}
button:hover {
  background-color:#0344f7;
  transition: 0.7s;
  }
select {
  padding: 10px 20px;
  margin: 5px;
  color: rgb(8, 8, 8);
  border: none;
  outline: none;
  border-radius: 5px;
  }
.comparison {
  text-align: center;
  padding-top: 50px;
  }
option {
  color: black;
}
.card {
  margin: 65px;
  background-color: blue;
  color: rgb(247, 247, 252);
  box-shadow: 0 10px 24px 0 rgba(7, 7, 243, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 200px;
  height: 300px;
  object-fit: cover;
  box-shadow: 0 16px 32px 0 rgba(7, 123, 238, 0.2);
}
.container {
  padding: 20px 20px;
}
img {
  border-radius: 5px 5px 0 0;
}
.cardText {
  text-align: center;
}
.flag {
  height: 40px;
  width: 70px;
}
